#root {
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-rows: 4rem min-content;
}

header {
  // grid-column: 1 / -1;
  box-shadow: var(--box-shadow-header);
  padding: var(--spacing-2);
  width: 100%;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

main {
  @include fbox($wrap: wrap);
}

article {
  margin-top: var(--spacing-4);
  flex: 1 1 375px;
}
